*{
    font-family: 'Questrial', 'Poppins', sans-serif;
}

*,::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: #e9ecef;
    color: black;
}

.container {
    height: 100vh;
    width: 70vw;
    margin: 8rem auto;
}

.container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.7rem;
    font-weight: 600;
    color: black;
}

.formulario-datos {
    width: 55%;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.formulario-datos input {
    line-height: 2rem;
    border-radius: 1rem;
    padding: 0.5rem;
    border-color: transparent;
    outline: none;
    transition: all 0.5s;
    font-size: 1.4rem;
}

.formulario-datos input:active {
    border-bottom: 1px solid white;
}

.formulario-datos input:focus {
    border-bottom: 1px solid white;
}

.formulario-datos button {
    align-self: center;
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: gray;
    color: white;
    padding: 1.3rem 2rem;
    transition: all 0.3s;
    border: transparent;
    align-items: center;
}

.formulario-datos button:hover{
    filter: brightness(120%);
    transform: scale(1.05);
}

.listado-tareas {
    display: flex;
    flex-direction: column;
}

.tarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
}

.icono {
    color: tomato;
    cursor: pointer;
    
}